@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

/* .react-datepicker__month-container {
    display: flex;
    flex-direction: column;
    justify-items: center !important;
} */

.react-datepicker-wrapper {
    width: 240px;
}